@tailwind base;
@tailwind components;
@tailwind utilities;




   @layer utilities { 
  @media print and (min-width: 210mm) and (min-height: 297mm) and (orientation: portrait) {
    .invoice {
      @apply w-[190mm] text-sm; /* Adjust for A4 Portrait */
    }
  }
  @media print and (min-width: 297mm) and (min-height: 210mm) and (orientation: landscape) {
    .invoice {
      @apply w-[277mm] text-sm; /* Adjust for A4 Landscape */
    }
  }
  @media print and (min-width: 148mm) and (min-height: 210mm) and (orientation: portrait) {
    .invoice {
      @apply w-[130mm] text-xs; /* Adjust for A5 Portrait */
    }
  }
  @media print and (min-width: 210mm) and (min-height: 148mm) and (orientation: landscape) {
    .invoice {
      @apply w-[190mm] text-xs; /* Adjust for A5 Landscape */
    }
  }
}  

@layer utilities {
    @media print {
      .print\\:hidden {
        display: none !important;
      }
    }
  }
  @layer utilities {
    @media print {
      .pgbreak {
        break-after: page;
      }
    }
  }
  @layer utilities{
  @media print {
    body {
      margin: 0;
      padding: 0;
    }
  
    .btn-print {
      display: none; /* Hide the print button */
    }
  
    .grid {
      page-break-inside: avoid; /* Prevent breaking the grid */
    }
  }
}
  
  /* Target the scroll container */
.scroll-container {
  width: 870px;
  height: 530px;
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ddd;
  padding: 10x;
}

/* Style the scroll bar */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

/* Style the track (background) */
.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style the thumb (handle) */
.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Add hover effect for the thumb */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
